*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
    background: #ffffff;
    padding-top: 80px ;
    padding-left: 200px;
    padding-bottom: 150px;
    padding-right: 200px;
}
.main{
    width: 1200px;
    height: 800px;
    background: #e5e763;
    display: flex;
    
    border-radius: 8px;
}
.wrapper-active-image{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    gap: 30px;
    border-right: 4px solid #97991f;
}
.active-image{
    width: 100%;
    border: 10px solid white;
    border-radius: 10px;
}
.buttons{
    display: flex;
    gap: 30px;
}
.btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
    background: #e0e0d2;
    border: 4px solid #97991f;
    border-radius: 8px;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}
.selection-images{
    width: 30%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
}
.wrapper-image{
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.image{
    cursor: pointer;
    height: 100%;
    border: 5px solid white;
    border-radius: 4px;
}
